body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header 
{
    background-color: #000000;
    text-align: center;
    padding: 20px 0;
}

header a 
{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
header a:hover 
{
    text-decoration: underline;
}

 #Accueil 
{
    padding: 20px;
    background-color: #565353;
    color: white;
    text-align: center;

}
#Accueil h1 
{
    margin: 0;
    font-size: 36px;
}
#Accueil p {
    font-size: 18px;
}
#apropos
    {
        padding: 20px;
        background-color: #f4f4f4;
        color: #333;
        overflow: hidden; 
        text-align: left;
    
    }
img 
{
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 20px;
    float: left;
    margin-right: 20px;
    
}
.Moi
{
    margin-top: 220px; 
}
#apropos h2 
{
    font-size: 28px;
    margin-top: 0;
}
#apropos p 
{
    font-size: 16px;
    line-height: 1.6;
}
#competences 
{
    padding: 20px;
    background-color: #565353;
    color: white;
    text-align: right;
    
}
ul 
{
    list-style-type: none;
    padding: 0;
}
ul li 
{
    font-size: 18px;
    margin: 10px 0;
}
#passion 
{
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
    text-align: left;
}
#passion h2 
{
    font-size: 28px;
    margin-top: 0;
}
#passion p 
{
    font-size: 16px;
    line-height: 1.6;
}
#Objectifs
{
    padding: 20px;
    background-color: #565353;
    color: white;
    text-align: center;
}
#Objectifs h2 
{
    font-size: 28px;
    margin-top: 0;
}
#Objectifs p 
{
    font-size: 16px;
    line-height: 1.6;
}
#contact 
{
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}
#contact h2 
{
    font-size: 28px;
    margin-top: 0;
}
#contact p 
{
    font-size: 16px;
    line-height: 1.6;
}
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

